<% if @chat.errors.any? %>
  <div class="alert alert-danger">
    <ul class="m-0">
      <% @chat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>