<div class="main-visual">
      <div class="main-visual-content">
        <p class="main-visual-text">
          ようこそWashokuへ</br>
          和歌山を食らう、それが和食,,,。 <br>
          和歌山のおいしいものを皆さんで共有することで <br>
          コロナ渦が過ぎ去った後も <br>
          和歌山で外食が楽しめるようにしたいですね。 <br>
          和歌山の経済・環境を未来へ繋いでいくのは<br>
          あなたかもしれません。
          

        </p>
        <p class="main-visual-name">
          WAKAYAMA omotenashi,Ltd.
        </p>
      </div>
</div>
  