<div class="main-visual">
      <div class="main-visual-content">
        <p class="main-visual-text">
          Do you have any problems eating in Wakayama?</br>
          In such a time, <br>
          Let's share it with everyone and meet delicious things!! <br>
          And let's leave wakayama's restaurant industry <br>
          even after corona!　<br>
          I hope that Wakayama and <br>
          Japan will recover in terms of<br>
          economy and hygiene.

        </p>
        <p class="main-visual-name">
          WAKAYAMA omotenashi,Ltd.
        </p>
      </div>
  </div>