  <div class="main-visual">
      <div class="main-visual-content">
        <p class="main-visual-text">
          Do you have any problems eating in Wakayama?</br>
          In such a time, <br>
          Let's share it with everyone and meet delicious things!! <br>
          And let's leave wakayama's restaurant industry <br>
          even after corona!
        </p>
        <p class="main-visual-name">
          WASHOKU PROJECT
        </p>
      </div>
  </div>